{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Вход в аккаунт</title>
    <link rel="stylesheet" href="{% static "login.css" %}" />
</head>

<body>
    <div class="wrapper">
            {% if not reset %}
            <div class="login-box-reset1">
                <h2>Сброс пароля</h2>
            
                {% if errors %}
                    <div class='errors'>
                        {{errors}}
                    </div>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}            
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail"></ion-icon>
                        </span>
                        {{form.email}}
                        <label>Email</label>
                    </div>                    
                    <button type="submit">Сбросить пароль</button><br><br>
                </form>
            </div>
            {% else %}
            <div class="login-box-reset2">
            <h3>Инструкция со сбросом пароля была выслана на почту</h3>
            <div class="register-link">
                <p><a href="{% url "main:home" %}"> Вернуться на главную </a></p>
            </div>
            </div>
            {% endif %}
    </div>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>